@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    color: #D4AA7D;
    font-family: 'Merienda', cursive;
}

form > h1{
    text-align: center;
}

body {
    background-image: url('https://cf.shopee.tw/file/4d0f6e57b031f9a4e18ddceea2d050d2');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; 
}

body::after{
    opacity: 0.2;
}

a {
    text-decoration: none;
}


form,
.content {
    position: fixed;
    top: 18%;
    left: 33%;
    box-shadow: 10px 20px 20px rgba(0,0,0,.15);
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border: 2px solid #D4AA7D;
    /* background: white; */
    background-color: rgba(255,255,255,0.7);
    border-radius: 10px 10px 10px 10px;
}

.btn-group {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.input-group {
    margin: 10px 0px 10px 0px;
}

.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
    font-weight: 800;
}

.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #D4AA7D;
}

.input-group input::placeholder {
    color: #aaa;
    font-weight: 600;
}

.btn {
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #EFD09E;
    color: rgb(95, 81, 81);
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 10px;
    font-family: 'Merienda', cursive;
    font-family: 'Rampart One', cursive;
}

.btn:hover {
    /* background-color: #eec37e; */
    scale: 1.1;
    box-shadow: 0px 0px 8px rgb(0, 0, 0);
    text-shadow: 0px 0px 0.3px rgb(0, 0, 0);
}

.logo{
    margin: 10px;
    padding: 10px;
    color: #D4AA7D;
    font-family: 'Merienda', cursive;
    cursor: pointer;
    font-weight: 500;
}

